<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCESS DENIED</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<h2>Access denied: you don't have permission to visit this page</h2>
<td><a th:href="@{/user}"><button type="submit" class="btn btn-primary btn-block mt-2">Return to User Page</button></a></td>
<td><a th:href="@{/logout}"><button type="submit" class="btn btn-primary btn-block mt-2">Logout</button></a></td>
</body>
</html>