<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container my-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>Sign Up</h2>
      <form th:action="@{/save}" th:object="${user}" method="post">
        <div class="form-row">
          <div class="col-md-6 form-group">
            <label>Name</label>
            <input type="text" class="form-control" th:field="*{name}">
          </div>
          <div class="col-md-6 form-group">
            <label>Age</label>
            <input type="number" step="any" class="form-control" th:field="*{age}">
          </div>
          <div class="col-md-6 form-group">
            <label>Email</label>
            <input type="text" class="form-control" th:field="*{email}">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>