<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:5px
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script th:src="@{/folder/userscripts.js}" type="text/javascript"></script>
    <style>
        body, html {
            height: 100%;
        }
    </style>
</head>
<body>
<header>
    <div class="p-3 bg-dark text-white">
        <a th:href="@{/logout}">
            <button type="submit" class="btn btn-outline-light"
                    style="float: right; display: flex; align-items: center;">
                Logout
            </button>
        </a>
        <h3>
            <th th:text="${user.email}">email</th>
        </h3>
        roles:
        <th th:text="${roles}">roles</th>
        <button th:if="${#lists.isEmpty(user.requests) and not #authorization.expression('hasRole(''ROLE_ADMIN'')')}" type="button" id="showRequestModal"
                class="btn btn-outline-warning btn-sm" onclick="showRequestmodal()"
                style="float: bottom; display: block; align-items: center;">
            Become admin
        </button>
    </div>
</header>
<div class="container-fluid h-100">
    <div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="close-request-modal" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editUserBody" style="width:100%;text-align:center;display:inline-block;">
                    <h2>Request form</h2>
                    <form id="requestForm" method="post">
                        <div class="form-row">
                            <div class="col form-group" style="width:50%;text-align:center;display:inline-block;">
                                <label>Email</label>
                                <input type="text" id="email" class="form-control" th:field="${user.email}" disabled>
                                <small class="form-text text-muted">
                                    Your email
                                </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group" style="width:100%; text-align:center; display:inline-block;">
                                <label for="message">Message</label>
                                <input type="text" id="message" class="form-control">
                                <small class="form-text text-muted">
                                    State your reasoning for becoming an admin
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sendRequest" class="btn btn-dark editor" onclick="sendRequest()">Send
                        request
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-100">
        <nav class="navbar navbar-dark bg-secondary" style="align-items: baseline">
            <div class="navbar-nav">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-item nav-link" href="admin" sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</a>
                </div>
                <a class="nav-item nav-link active" href="user" sec:authorize="hasRole('USER')">USER <span
                        class="sr-only">(current)</span></a>
            </div>
        </nav>
        <nav class="col bg-light">
            <h1>User page</h1>
            <hr/>
            <table class="table table-hover">
                <h3>About user</h3>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="users : ${user}">
                    <td th:text="${user.id}" id="user-id">ID</td>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.age}">age</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.roles}">role</td>
                </tr>
                </tbody>
            </table>
        </nav>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>
</html>